<body>
    <div class="container my-4">
        <p class="fs-1">Baja</p>

        <div class="row align-items-start">
            <form method="POST" novalidate>
            <div class="col-sm-2">
                <select name="flightNumber" class="form-select form-select-sm" aria-label="Small select example">
                    {{#each onlyFlightsNumber as |flightNumber|}}
                        <option value="{{flightNumber.dataValues.flightNumber}}">{{flightNumber.dataValues.flightNumber}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
            </form>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>