
<body>
    <div class="container my-4">
        <p class="fs-1">Proximos vuelos</p>
        <div class="row align-items-start">
            <div class="col">
                <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Horario Llegada</th>
                    <th scope="col">Vuelo</th>
                    <th scope="col">Linea Aerea</th>
                    <th scope="col">Demorado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each flights as |flight|}}
                        <tr>
                            <td>{{flight.dataValues.arrival}}</td>
                            <td>{{flight.dataValues.flightNumber}}</td>
                            <td>{{flight.dataValues.airline}}</td>
                            {{#if flight.dataValues.delayed}}
                                <td>Si</td>
                            {{else}}
                                <td>No</td>
                            {{/if}}
                        </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>