<body>
    <div class="container my-4">
        <p class="fs-1">Modificar</p>

        <div class="row align-items-start">
            <div class="col-sm-6">
                <form method="POST" id="modify-form">
                    <input type="text" name="previousFlightNumber" value="{{flight.dataValues.flightNumber}}" style="display: none;">
                    <div class="mb-3">
                        <label for="arrival" class="form-label h6">Horario Llegada</label>
                        <input type="time" name="arrival" class="form-control" id="arrival" aria-describedby="emailHelp" value="{{flight.dataValues.arrival}}">
                        <div class="invalid-feedback">
                            Por favor, escribe un horario valido.
                        </div>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="flight" class="form-label h6">Vuelo</label>
                        <input type="text" name="flightNumber" class="form-control" id="flight" placeholder="Numero de Vuelo p.ej.: AU 2399" value="{{flight.dataValues.flightNumber}}">
                        <div class="invalid-feedback">
                            Por favor, escribe un numero de vuelo válido.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="airline" class="form-label h6">Línea Aerea</label>
                        <input type="text" name="airline" class="form-control" id="airline" placeholder="Linea Aerea p.ej.: Latam" value="{{flight.dataValues.airline}}">
                        <div class="invalid-feedback">
                            Por favor, escribe una línea aerea válida.
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="delayed" class="form-check-input" id="delayed" value="true" {{#if flight.dataValues.delayed}}checked{{/if}}>
                        <label class="form-check-label" for="delayed">Demorado</label>
                    </div>
                    <button type="submit" id="modify-button" class="btn btn-primary">Modificar</button>
                </form>
            </div>
            
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const $form = document.querySelector("#modify-form");
            const $submitButton = document.querySelector("#modify-button");

            const $arrival = $form.arrival;
            const $flightNumber = $form.flightNumber;
            const $airline = $form.airline;
            const errorFeedbackArrival = $arrival.nextElementSibling;
            const errorFeedbackFlightNumber = $flightNumber.nextElementSibling;
            const errorFeedbackAirline = $airline.nextElementSibling;

            $submitButton.addEventListener("click", event => {
                resetValidationStyle();

                validateNotEmpty($arrival, event);
                validateNotEmpty($flightNumber, event);
                validateNotEmpty($airline, event);

                validateFlightNumber(event);
            })

            function removeClassIsInvalid ($element) {
                if ($element.classList.contains("is-invalid")) {
                    $element.classList.remove("is-invalid");
                }
            }
            
            function resetValidationStyle() {
                removeClassIsInvalid($arrival);
                removeClassIsInvalid($flightNumber);
                removeClassIsInvalid($airline);
            }

            function validateNotEmpty($element, event) {
                if (!$element.value) {
                    event.preventDefault();
                    $element.classList.add("is-invalid");
                }
            }

            function validateFlightNumber(event) {
                const isValidFlightNumber = /^[A-Z]{2,4} [0-9]{4}$/.test($flightNumber.value);

                if (!isValidFlightNumber) {
                    event.preventDefault();
                    if (errorFeedbackFlightNumber && errorFeedbackFlightNumber.classList.contains("invalid-feedback")) {
                        $flightNumber.classList.add("is-invalid");
                        errorFeedbackFlightNumber.textContent = "El número de vuelo debe tener 2 a 4 letras seguidas de 4 dígitos (por ejemplo, AB 1234).";
                    }
                } 
            }
        })


    </script>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>