<body>
    <div class="container my-4">
        <p class="fs-1">Modificar</p>

        <div class="row align-items-start">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="mb-3">
                        <label for="arrival" class="form-label h6">Horario Llegada</label>
                        <input type="time" name="arrival" class="form-control" id="arrival" aria-describedby="emailHelp" value="{{flight.dataValues.arrival}}">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="flight" class="form-label h6">Vuelo</label>
                        <input type="text" name="flightNumber" class="form-control" id="flight" placeholder="Numero de Vuelo p.ej.: AU 2399" value="{{flight.dataValues.flightNumber}}">
                    </div>
                    <div class="mb-3">
                        <label for="airline" class="form-label h6">Línea Aerea</label>
                        <input type="text" name="airline" class="form-control" id="airline" placeholder="Linea Aerea p.ej.: Latam" value="{{flight.dataValues.airline}}">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="delayed" class="form-check-input" id="delayed" value="true" {{#if flight.dataValues.delayed}}checked{{/if}}>
                        <label class="form-check-label" for="delayed">Demorado</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Modificar</button>
                </form>
            </div>
            
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>