<body>
    <div class="container my-4">
        <p class="fs-1">Modificar</p>
        <div class="row align-items-start">
            <div class="col-sm-6">
                <form>
                    <div class="mb-3">
                        <label for="arrival" class="form-label h6">Horario Llegada</label>
                        <input type="time" class="form-control" id="arrival" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="flight" class="form-label h6">Vuelo</label>
                        <input type="text" class="form-control" id="flight" placeholder="Numero de Vuelo p.ej.: AU 2399">
                    </div>
                    <div class="mb-3">
                        <label for="airline" class="form-label h6">Línea Aerea</label>
                        <input type="text" class="form-control" id="airline" placeholder="Linea Aerea p.ej.: Latam">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="delayed">
                        <label class="form-check-label" for="delayed">Demorado</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
            
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>